<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<% if can? :update, @user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
<% end -%>
<%= link_to 'List', users_path %>
