<%= form_for(@vendor) do |f| %>
  <% if @vendor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
      <% @vendor.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag 'twitter_user' %><br />
    <%= text_field_tag 'twitter_user' %>
  </div>
  
  OR<br />
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :following %><br />
    <%= f.text_field :following %>
  </div>
  <div class="field">
    <%= f.label :followers %><br />
    <%= f.text_field :followers %>
  </div>
  <div class="field">
    <%= f.label :listed %><br />
    <%= f.text_field :listed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
