<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @vendor.name %>
</p>

<p>
  <b>Location:</b>
  <%= @vendor.location %>
</p>

<p>
  <b>Url:</b>
  <%= @vendor.url %>
</p>

<p>
  <b>Description:</b>
  <%= @vendor.description %>
</p>

<p>
  <b>Following:</b>
  <%= @vendor.following %>
</p>

<p>
  <b>Followers:</b>
  <%= @vendor.followers %>
</p>

<p>
  <b>Listed:</b>
  <%= @vendor.listed %>
</p>

<h3>Locations</h3>
<%= render(:partial => "locations/location", :collection => @vendor.locations) %>

<% if can? :edit, @vendor %><%= link_to 'Edit', edit_vendor_path(@vendor) %> | <% end %>
<%= link_to 'Vendor List', vendors_path %>
