<!DOCTYPE html>
<html>
<head>
  <title>TweeTruck</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery-1.4.1.min", "rails" %>
  <%= csrf_meta_tag %>
  
  <%= yield :head %>
</head>
<body>

<%= yield %>

</body>
</html>
